<?xml version="1.0" encoding="utf-8"?>
<config>
    <database>
        <host>mysql-db-smi-tp.l.aivencloud.com</host>
        <port>23984</port>
        <username>avnadmin</username>
        <password>AVNS_F801fjmN-yhfTnx2Gma</password>
        <dbname>SMI</dbname>
    </database>
    <phpMailer>
        <APIKey>5a1f2dd5e96d5a7e5eefe0b9a29bde38</APIKey>
        <APISecret>99e733d6a4be5796e94147d263e763c1</APISecret>
        <fromEmail>smi.projeto.g30@gmail.com</fromEmail>
        <fromName>Photo Gallery</fromName>
    </phpMailer>
    <server>
        <host>http://localhost/examples-smi/TrabalhoFinal/SMI</host>
    </server>
</config>