html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}


.left-side {
  background: url('imgs/login.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
}